.container {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 650px;
    justify-items: center;
    margin-bottom: 20px;
}

.infoCard {
    display: block;
    justify-items: flex-end;
    width: 100%;
    max-height: 600px;
}

.wrapperInfoCard {
    display: flex;
    flex-direction: column;
    padding: 25px;
    max-width: 400px;
    background-color: transparent;
    border: none;
}

.wrapperInfoCard:hover {
    border-radius: 15px;
    border: 3px solid rgba(120, 47, 239, 1);
    padding: 22px;
}

.wrapperInfoText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    margin-bottom: 15px;
    font-family: Montserrat, serif;
}

.infoTextName {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.infoText {
    padding: 0;
    margin: 0;
    font-size: 26px;
    font-weight: 300;
}

.wrapperStatusCode {
    display: flex;
    gap: 8px;
}

.active {
    background: linear-gradient(0.15turn, #04CE9B, #64E408);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-weight: 400;
}

.develop {
    background: linear-gradient(0.15turn, #FF9415, #FFC709);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-weight: 400;
}

.inactive {
    background: linear-gradient(0.15turn, #EB1E80, #F42A5A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-weight: 400;
}

.moreInfoBtn {
    width: 100%;
    height: 60px;
    background: linear-gradient(0.15turn, #7F00FF, #E100FF);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

.moreInfoBtn:hover {
    transform: scale(1);
}

.moreInfoText {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}