.container {
    font-family: Montserrat, sans-serif;
}

.aboutMe {
}

.carusel {
}

.filter {
    margin-top: 50px;
    margin-bottom: 50px;
}

.catalogProject {
    margin-bottom: 50px;
}

.portfolioBlock {
    margin-bottom: 50px;
}