.container {

}

.wrapperTitleBlock {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.TitleBlock {
    margin: 0;
    background: -webkit-linear-gradient(0.65turn, #8E2DE2, #4A00E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.containerProject{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid black;
    border-radius: 10px;
}