.wrapper {
    display: grid;
    grid-template-columns: auto;
    height: 100px;
}

.logo {
    grid-column: 1/7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleHeader {
    grid-column: 9/25;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainText {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.auth {
    grid-column: 25/32;
    display: flex;
    justify-content: center;
    align-items: center;
}