.wrapper {
    display: flex;
    grid-template-columns: auto;
    height: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.titleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;

}

.mainText {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}